<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/full-style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Timeline</title>
  </head>

  <body>
    <div id="app" class="container">
      <h2 class="mb-4 mt-4 text-center">{{ title }}</h2>
      <timeline></timeline>
    </div>
  </body>

  <!-- Vuejs -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Moment y Visjs -->
  <script src="assets/js/moment.js"></script>
  <script src="assets/js/vis.js"></script>
  <!-- VeeValidate -->
  <script src="https://cdn.jsdelivr.net/npm/vee-validate@3.3.8/dist/vee-validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vee-validate@3.3.8/dist/rules.umd.js"></script>
  <script src="config/veeValidate.js"></script>
  <!-- Componentes -->
  <script src="components/timeline.js"></script>
  <script src="components/formReservation.js"></script>
  <script src="components/listItems.js"></script>
  <script src="app.js"></script>
</html>
